
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: "Roboto", sans-serif;
}
  
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

body{
   font-family: 'Anuphan', sans-serif;
}

:root{
    --green-1:green;
    --green-2:#a2de96;
    --lightgreen-1:#d6e58d;
    --lightgreen-2:#f5fcf4;
    --black-1:#3b413a;
    --black-2:#3f3c3c;
    --black-3:#5b6359;
    --white:#e8e8e8;
}


.container{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4{
    font-family: 'Anuphan', sans-serif;
}



a{
    display: inline-block;
    text-decoration: none;
}
